*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  font-family:serif;
  color:#333333;
}

h1, h2, h3, h4, h5, h6{
  font-weight:normal;
}

h1{
  margin:20px 0 0 0;
  font-size:80px;
  line-height:100px;
  text-align:center;
}

h2{
  font-size:50px;
  line-height:50px;
}

h3{
  font-size:20px;
}

a{
  color:inherit;
  text-decoration:none;
  border:none;
  transition:color .2s ease;
}

a:hover{
  color:#301c8a;
}

.wrapper{
  width:1200px;
  margin:0 auto;
}

.sub{
  font-size:20px;
  text-align:center;
}

nav{
  margin:30px 0 0 0;
  border-top:1px solid #333333;
  border-bottom:3px solid #333333;
}

nav ul{
  text-align:center;
}

nav li{
  list-style-type:none;
  display:inline-block;
  margin:0 15px;
  font-size:20px;
  line-height:50px;
}

nav li::before{
  content:'\25AA';
  margin:0 10px 0 0;
}

main{
  display:block;
}

.flexbox1{
  display:flex;
  flex-direction:row;
}

.flexbox1 .item{
  width:25%;
  padding:30px 10px 30px 0;
}

.flexbox1 .img-container{
  width:80px;
  height:80px;
  float:left;
  margin:0 10px 0 0;
  background-size:cover;
  background-position:center center;
  background-color:#f0f0f0;
}

.flexbox1 p{
  color:#999999;
}

.columns1{
  overflow:hidden;
  margin:10px 0 0 0;
}

.columns1 .col-left{
  width:800px;
  float:left;
  padding:0 40px 0 0;
  border-right:1px solid #f0f0f0;
}

.columns1 .col-left .img-container{
  width:760px;
  height:760px;
  position:relative;
  background-size:cover;
  background-position:center center;
  background-color:#f0f0f0;
}

.columns1 .col-left h2{
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  padding:30px 40px 50px;
  color:#ffffff;
  text-decoration:underline;
  background:#333333;
  opacity:.9;
}

.columns1 .col-left p{
  color:#999999;
}

.columns1 .col-right{
  width:400px;
  float:left;
  padding:0 0 0 30px;
}

.columns1 .col-right h3.pop::before{
  content:'\2022';
  margin:0 10px 0 0;
}

.flexbox2{
  display:flex;
  flex-direction:row;
  margin:35px 0 0 0;
}

.flexbox2 .img-container{
  width:100px;
  height:100px;
  float:right;
  margin:0 0 0 10px;
  background-size:cover;
  background-position:center center;
  background-color:#f0f0f0;
}

.flexbox2 .num{
  width:15%;
  padding:20px 0 0 0;
  font-size:40px;
}

.flexbox2 p{
  color:#999999;
}

footer{
  font-size:20px;
  line-height:200px;
  text-align:center; 
}

footer span{
  border-bottom:2px dotted #333333;
}

@media screen and (max-width:800px){
  *{
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
  
  body{
    font-family:serif;
    color:#333333;
  }
  
  h1, h2, h3, h4, h5, h6{
    font-weight:normal;
  }
  
  h1{
    margin:20px 0 0 0;
    font-size:60px!important;
    line-height:80px!important;
    text-align:center;
  }
  
  h2{
    font-size:30px!important;
    line-height:30px!important;
  }
  
  h3{
    font-size:20px;
  }
  
  a{
    color:inherit;
    text-decoration:none;
    border:none;
    transition:color .2s ease;
  }
  
  a:hover{
    color:#301c8a;
  }
  
  .wrapper{
    width:90%!important;
    margin:0 auto;
  }
  
  .sub{
    font-size:20px;
    text-align:center;
  }
  
  nav{
    margin:30px 0 0 0;
    border-top:1px solid #333333;
    border-bottom:3px solid #333333;
  }
  
  nav ul{
    text-align:left!important;
  }
  
  nav li{
    list-style-type:none;
    display:block!important;
    margin:0 15px;
    font-size:20px;
    line-height:50px;
  }
  
  nav li::before{
    content:'\25AA';
    margin:0 10px 0 0;
  }
  
  main{
    display:block;
  }
  
  .flexbox1{
    display:flex;
    flex-direction:column!important;
  }
  
  .flexbox1 .item{
    width:100%!important;
    padding:30px 10px 30px 0;
  }
  
  .flexbox1 .img-container{
    width:80px;
    height:80px;
    float:left;
    margin:0 10px 0 0;
    background-size:cover;
    background-position:center center;
    background-color:#f0f0f0;
  }
  
  .flexbox1 p{
    color:#999999;
  }
  
  .columns1{
    overflow:hidden;
    margin:10px 0 0 0;
  }
  
  .columns1 .col-left{
    width:100%!important;
    float:none!important;
    padding:0!important;
    border-right:1px solid #f0f0f0;
  }
  
  .columns1 .col-left .img-container{
    width:100%!important;
    height:300px!important;
    position:relative;
    background-size:cover;
    background-position:center center;
    background-color:#f0f0f0;
  }
  
  .columns1 .col-left h2{
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    padding:30px 40px 50px;
    color:#ffffff;
    text-decoration:underline;
    background:#333333;
    opacity:.9;
  }
  
  .columns1 .col-left p{
    color:#999999;
  }
  
  .columns1 .col-right{
    width:100%!important;
    float:none!important;
    margin:30px 0 0 0!important;
    padding:0!important;
  }
  
  .columns1 .col-right h3.pop::before{
    content:'\2022';
    margin:0 10px 0 0;
  }
  
  .flexbox2{
    display:flex;
    flex-direction:row;
    margin:35px 0 0 0;
  }
  
  .flexbox2 .img-container{
    width:100px;
    height:100px;
    float:right;
    margin:0 0 0 10px;
    background-size:cover;
    background-position:center center;
    background-color:#f0f0f0;
  }
  
  .flexbox2 .num{
    width:15%!important;
    padding:20px 0 0 0;
    font-size:30px!important;
  }
  
  .flexbox2 p{
    color:#999999;
  }
  
  footer{
    font-size:14px!important;
    line-height:30px!important;
    text-align:center; 
    margin:50px 0!important;
  }
  
  footer span{
    border-bottom:2px dotted #333333;
  }
}